In [5]:
# 라이브러리 가져오기
import pymysql
from PIL import Image
import base64
from io import BytesIO
import time
import datetime, json
import os

# Local PC 내의 데이터셋 DB 업로드

In [2]:
# mysql 서버 접속
conn = pymysql.connect(host='-----', user='-----', password='-----', charset='utf8')
if conn.open:
    print('connected')

connected

In [3]:
# DB 지정
sql = "USE OPENSW"
curs = conn.cursor()
curs.execute(sql)

0

In [4]:
# sql = "CREATE TABLE CLOTH(\
#         id INT AUTO_INCREMENT PRIMARY KEY,\
#         image_data LONGBLOB,\
#         sex VARCHAR(10))"

In [4]:
# Local PC 내의 데이터셋 경로 지정
# /~/images/ 내에 top/man/, top/woman/ 디렉토리 필요
my_Url = 'C:/Users/HYUNBIN/Desktop/공부/공개sw 공모전/source/images'

In [18]:
# 디렉토리 내 경로 포함 파일 이름 리스트 생성
man_path = '/top/man/'
woman_path = '/top/woman/'

man_file_list = os.listdir(my_Url + man_path)
woman_file_list = os.listdir(my_Url + woman_path)

man_path_list = []
woman_path_list = []

for man_file in man_file_list:
    man_path_list.append(my_Url + man_path + man_file)

for woman_file in woman_file_list:
    woman_path_list.append(my_Url + woman_path + woman_file)

In [24]:
# 이미지 데이터 하나씩 가져오고 DB에 sql로 업로드
# 남자 옷
for file in man_path_list:
    with open(file, 'rb') as image_file:
        binary_image = image_file.read()
    sql = 'INSERT INTO CLOTH_TEST (image_data, sex) VALUES(%s, %s)'
    curs.execute(sql, (binary_image, 'MAN'))

In [29]:
# 여자 옷
for file in woman_path_list:
    with open(file, 'rb') as image_file:
        binary_image = image_file.read()
    sql = 'INSERT INTO CLOTH_TEST (image_data, sex) VALUES(%s, %s)'
    curs.execute(sql, (binary_image, 'WOMAN'))